<div class="about-wrapper">
  <div class="about-left">
    <div class="about-left-content">
      <div>
        <div class="shadow">
          <div class="about-img">
            <img src="../../../assets/img/fotoPerfil.jpeg" alt="about image" />
          </div>
        </div>

        <h2>Juan<br />Barraza</h2>
        <h3>Estudiante UTN FRA</h3>
      </div>

      <ul class="icons"></ul>
    </div>
  </div>

  <div class="about-right">
    <h1>Snake<span>!</span></h1>
    <h2>Objetivo del juego:</h2>
    <div class="about-para">
      <p>Controlar una serpiente para que crezca sin chocar.</p>
      <h2>Cómo jugar:</h2>
      <p>
        <span>Controla</span> la serpiente con las teclas de flecha. <br />
        <span>Aliméntala</span> con comida roja para hacerla crecer. <br />
        <span>Gana</span> puntos comiendo sin chocar. <br />
        <span>Pierde</span> si chocas contra las paredes o a ti mismo. <br />
        <span>Reinicia</span> Presionando ok para jugar de nuevo tras perder.
      </p>
    </div>
  </div>
</div>
