.containerBackground {
  margin-top: 180px;
  width: 60%;
}
.min-100vh {
  min-height: 100vh;
  background-image: url("../../../assets/background-plant.png");
  /* background: #009970; */
}
.colorMain {
  background-color: #009970;
}
.btnDefault {
  border-radius: 100%;
}
.containerBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colorVerde {
  background-color: #009970;
}
